<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="numericUpDown1" value="0" />
    <add key="numericUpDown2" value="0" />
    <add key="numericUpDown3" value="5" />
    <add key="numericUpDown4" value="1" />
    <add key="numericUpDown5" value="0" />
    <add key="numericUpDown6" value="1" />
    <add key="numericUpDown7" value="3" />
    <add key="textBox5" value="0" />
    <add key="textBox6" value="3" />
    <add key="textBox7" value="0" />
    <add key="textBox8" value="0" />
    <add key="textBox9" value="3" />
    <add key="textBox10" value="0" />
    <add key="textBox11" value="0" />
    <add key="textBox4" value="0" />
    <add key="textBox3" value="0" />
    <add key="textBox2" value="0" />
    <add key="textBox1" value="0" />
  </appSettings>
</configuration>