<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="codewheeldiameter" value="637" />
    <add key="lightcheckdelay" value="0" />
    <add key="paperdpi" value="500" />
    <add key="printinterval" value="0" />
    <add key="checkBox1" value="True" />
    <add key="checkBox2" value="false" />
    <add key="checkBox3" value="True" />
    <add key="checkBox4" value="false" />
    <add key="checkBox5" value="True" />
    <add key="checkBox6" value="True" />
    <add key="checkBox7" value="True" />
    <add key="textBox5" value="12.0" />
    <add key="textBox6" value="13.0" />
    <add key="textBox7" value="12.0" />
    <add key="textBox8" value="12.0" />
    <add key="textBox9" value="12.0" />
    <add key="textBox10" value="12.0" />
    <add key="textBox11" value="12.0" />
    <add key="textBox18" value="45.0" />
    <add key="textBox17" value="45.0" />
    <add key="textBox16" value="34.0" />
    <add key="textBox15" value="45.0" />
    <add key="textBox14" value="45.0" />
    <add key="textBox13" value="45.0" />
    <add key="textBox12" value="45.0" />
  </appSettings>
</configuration>